<div class="fav">
  <% if @post.favorited?(current_user) %>
    <%= link_to "Un-favorite", post_favorite_path(@post, @post.favorite_for(current_user)), remote: true, method: :delete %>
  <% else %>
    <%= link_to "Add to Favorite", post_favorites_path(@post), remote: true, method: :post %>
  <% end %>
</div>
