<h1>A list of All the Blogs</h1><hr>
<% @posts.each do |post| %>
<%= link_to post.title, post_path(post) %>
<div style = "text-align: right"><%= post[:updated_at]%></div>
<hr>
<% end %>
<%= will_paginate @posts %>
